<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to our <%= title %></h1>
    <p>Hope you can find it easy to use our add/edit/remove functionality of Trainers and Students manipulating our provided local database.</p>  
    <p>Use freely our Assignments and Courses views "hitting" the corresponding view in the url (localhost:3000/assignments/list and localhost:3000/courses/list) according to your interest.</p>
  </body>
</html>
